.headList {
  border: 3px solid black;
  margin: 0 auto;
  margin-top: 30px;
  width: 496px;
}
.headItem {
  background-color: black;
}
.headText {
  color: white;
}
.tableList :nth-child(even) {
  margin: 0;
}
.tableItem:nth-child(even) {
  background-color: grey;
  margin: 0;
}
.tableText {
  border: 1px solid black;
  width: 33%;
  font-weight: 500;
}
